/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header */
  .header {
    background-color:orange;
    color: #fff;
    padding: 20px;
    
  }
  
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  img{
    border-radius: 50%;
  }
  
  .logo {
    font-size: 24px;
  }
  
  .nav-links li {
    display: inline;
    margin-left: 10px;
  }
  .features1 li{
    display: flex;
    margin: 15px;
    background-color:orangered;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;

    width: 50%;
     
    
  }
  .w{
    margin: 15px;
  
    
  }
  .our{
    background-color:orange;
    margin-top: 80px;
  }
  .our h1{
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    font-size: 50px;
  }
  .company li{
    display:inline;
    flex-wrap:wrap ;
    justify-content:space-around;
    margin: 30px;
    
    
    
  }
 
  .company img{
    border-radius: 0px;
    width: 150px;
    height: 150px;
    justify-content: center;
    flex-wrap: wrap;
    text-decoration: none;
    margin: 35px;;
     
  }
  .features2{
    margin-top: 50px;
  }
  .nav-links li:hover{
    background-color: darkblue;
  }
 
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: large;
  }
  
  /* Hero section */
  .hero {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .hero-title {
    font-size: 36px;
    margin-bottom: 5px;
    color: darkblue;
  }
  
  .hero-description {
    font-size: 45px;
    margin-bottom: 5px;
    
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    
    background-color: orangered;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
  }
  .btn1{
    
      display: inline-block;
      padding: 10px 20px;
      text-align: center;  
      background-color: orangered;
      color: #fff;
      text-decoration: none;
      border-radius: 4px;
      cursor: pointer;
      margin: 60px;
      margin-left: 600px;

    }
    .btn1:hover{
      background-color: lightsalmon;
    }
  
  .ach1{
    border-radius: 23px;
    
  }
  
  .btn:hover {
    background-color:lightsalmon
  }
  
  .p1{
    text-align: center;
    font-size: 50px;
  }

  .ach{
    margin-top: 80px;
    padding: 30px;
    background-color: yellow;
    border-radius: 35px;
    color: darkblue;
  }
  /* Features section */
  .features {
    color: white;
    padding: 50px 0;

  }

  .featuress{
   background-image: url(images/programing.jpg);

background-repeat: no-repeat;
background-size: cover;
    height: auto;
    width: auto;
    padding: 50px;



  }

  
  .features1{
    color: #fff;
  }
  
  .section-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
  }
  
  .feature {
    text-align: center;
    margin-bottom: 40px;
  }
  

  
  
  /* Pricing section */
  .pricing {
    padding: 50px 0;
    text-align: center;
    color: black;
  }
  .section-title{
    color: white;
  }
  
  .pricing-plans {
    display: flex;
    justify-content: space-around;
  }
  
  .pricing-plan {
    width: 300px;
    padding: 20px;
    background-color:orange;
    margin-bottom: 20px;

  }
  
  .plan-name {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .plan-price {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .plan-features  {
    list-style: none;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 60px;
  }
  
  .plan-features li {
    margin-bottom: 5px;
  }
  
  /* Footer */
  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  